<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.savas.ezberteknigi">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".Activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.ReadingTextsActivity" />
        <activity android:name=".Activities.WordsActivity" />
        <activity android:name=".Activities.ReadingTextDetailActivity" />
        <activity android:name=".Activities.AddWordActivity" />
        <activity android:name=".Activities.WordAlternativeTranslationsActivity" />
        <activity android:name=".Activities.TranslationActivity" />
        <activity android:name=".Activities.WordActivitySample" />
        <activity android:name=".Activities.WordDetailActivity" />
        <activity
            android:name=".Activities.WordActivity2"
            android:label="@string/title_activity_word2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activities.WordRevisionActivity"></activity>
    </application>

</manifest>