<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.savas.ezberteknigi">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".AppStarter"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_k_legacy"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_k_legacy_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".Activities.BookDetailActivity"></activity>
        <activity android:name=".Activities.NavigatorActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.BookSearchActivity" />

        <service
            android:name=".Services.SaveWebpageIntentService"
            android:exported="true" />
        <service android:name=".Services.WordRevisedService" />
        <service
            android:name=".Services.WordAndTextService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </service>

        <activity android:name=".Activities.MainActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".Activities.ReadingTextDetailActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.AddSharedWordWordOrWebPageActivity"
            android:label="Kelime Ekle">
            <intent-filter android:label="Öğreneceklerime Ekle">
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.TranslationActivity"
            android:label="Alternatif Çeviriler" />

        <service
            android:name=".WordRevisionScheduler"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>